<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RXTreeControl.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6AB502571C1FFCAA00ECADC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AB5026B1C1FFCAB00ECADC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AB502761C1FFCAB00ECADC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
